[submodule "themes/hugo-lamp"]
	path = themes/hugo-lamp
	url = git@github.com:stummjr/hugo-lamp.git
[submodule "public"]
	path = public
	url = https://github.com/stummjr/stummjr.github.io.git
	branch = master
